<Data xmlns="services.schema.networkapi.jmp.juniper.net">
    <CustomAction xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ServiceOrderCustomActionType">
        <Action>{{ custom_action['action'] }}</Action>
        <ScheduledDateTime>{{ custom_action['schedule'] }}</ScheduledDateTime>
    </CustomAction>
</Data>